@media (max-width: 1199px){
    .socialBox ul li {
        margin-right: 10px;
    }
    header .logoBox img {
        margin-top: -4px;
        height: 37px;
    }
    .forum-block .forumHead .headRight h4 {
        font-size: 20px;
    }
    .forum-block .forumHead .headRight ul li {
        margin-right: 15px;
    }
    .forum-block .forumHead .headRight ul li a i,.forum-block .forumHead .headRight ul li a span{
        margin-right: 5px;
    }
    .forum-block .forumHead .headRight ul {
        margin-top: 12px;
    }
}

@media (min-width: 992px){
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }

}
@media (max-width: 991px){
    header .logoBox img{
        height: 45px;
    }
    header .social-box{
        float: right;
        width: 67%;
    }
    header .searchBar{
        margin-top: 15px;
    }
    .forum-block .forumHead .headRight ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menuLinks ul li a span{
        margin-right: 10px;
    }
    .leftMain ul li span {
        width: 25px;
    }
    .pageNav ul li {
        margin: 0 2px;
    }
    .breadcrumbs {
        padding: 40px 0;
    }
    .breadcrumbs ul li a{
        font-size: 14px;
    }
    .breadcrumbs ul li:after {
        font-size: 14px;
        vertical-align: middle;
    }
    .recent-box h3{
        margin-bottom: 20px;
    }
    .activityTabs .tab-pane{
        padding-top: 30px;
    }
    .activityTabs .nav-tabs li a{
        font-size: 15px;
    }
    .profileBox h5{
        font-size: 20px;
    }
    .badge-box h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .notify-box h4 {
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .notify-box h5 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .weekwidget a {
        width: 50px;
        height: 45px;
        line-height: 44px;
        font-size: 15px;
    }
    .weekwidget li:first-child {
        margin-right: 15px;
    }
    .tab-pane .saveBtn {
        width: 120px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .change-pro{
        margin-bottom: 30px;
    }
    .thread-head ul li {
        margin-right: 20px;
    }
}

@media (max-width: 767px){
    header .social-box ul{
        position: absolute;
        right: 5px;
        top: -20px;
    }
    header {
        padding: 30px 0 20px;
        position: relative;
    }
    header .btns-group a {
        font-size: 14px;
        margin-right: 10px;
        margin-top: 6px;
    }
    header .social-box{
        width: auto;
    }
    .forum-block .forumHead .headRight ul li {
        margin-bottom: 10px;
    }
    .forum-block .forumHead .headRight ul{
        margin-bottom: 0;
    }
    .forum-block {
        margin-top: 30px;
    }
    .forum-block .forumHead .headRight{
        padding-left: 10px;
    }
    .form-detail .form-detail-p{
        padding-left: 24px;
    }
    .forum-block .forumHead .imgHolder img{
        width: 50px;
        height: 50px;
    }
    .form-detail {
        padding-left: 10px;
    }
    .content-sec {
        padding: 45px 0;
    }
    footer .col-md-7{
        margin-top: 30px;
    }
    .breadcrumbs {
        padding-bottom: 20px;
    }
    .help-detail h4 {
        font-size: 20px;
    }
    .help-detail p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.3;
    }
    .help-detail {
        margin-top: 20px;
    }
    .code-block{
        font-size: 14px;
    }
    .helpside {
        margin-top: 40px;
    }
    .help-section .searchBar {
        margin: 45px auto 30px;
    }
    .help-section {
        margin-bottom: 45px;
    }
    .badge-box ul li a {
        height: 35px;
        line-height: 33px;
        font-size: 13px;
    }
    .recent-box.stats ul li a {
        font-size: 15px;
    }
    .activityTabs .nav-tabs li a{
        padding: 5px;
    }
    .threadBox {
        padding: 0 80px;
    }
    .thread-head ul li {
        margin-bottom: 10px;
    }
    .thread-head ul li a i {
        margin-right: 5px;
    }
    .pro-like{
        top: 130%;
    }
    .thread-l p {
        font-size: 14px;
        line-height: 1.3;
    }
    .thread-right ul li a {
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        float: left;
    }
    .thread-right {
        margin-top: 30px;
    }
    .thread-right ul li:nth-child(2) {
        margin-bottom: 40px;
    }
    .chat-user{
        padding: 20px 0;
    }
    .chat-user .imgHolder img {
        width: 50px;
        height: 50px;
    }
    .chat-user .chat-user-d {
        padding-left: 10px;
    }
    .editor-chat button {
        width: 120px;
        height: 45px;
        line-height: 44px;
        font-size: 14px;
    }
    .editor-chat .prevBtn{
        font-size: 14px;
    }
    .socialBox ul li a {
        font-size: 18px;
    }
    .socialBox ul li a svg {
        width: 16px;
        margin-top: -1px;
    }
    .container {
        max-width: 100%;
    }
    .form-detail .imgHolder{
        display: none;
    }
    .form-detail .form-detail-p {
        padding-left: 50px;
    }
    .mobail-leftMenu{
        display: block;
    }
    .mobail-leftMenu .leftMenu{
        display: none;
    }
    .mobail-leftMenu a.mobail-bar {
        background-color: #ffffff;
        border: solid 1px #002645;
        border-radius: 5px;
        color: #002645;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 20px;
        margin-bottom:  10px;
        text-align: center;
        text-transform: capitalize;
    }
    .desktop-leftMenu{
        display: none;
    }
    .mobail-Sort{
        display: inline-block;
        float: right;
    }
    .forum-block {
        margin-top: 0;
    }
}

@media (max-width: 576px){

    header .col-md-push-5{
        padding-left: 0;
    }
    header .btns-group a{
        margin-top: 5px;
    }
    header .btns-group a i {
        margin-right: 5px;
    }
    header .btns-group a{
        margin-right: 15px;
    }
    .pageNav ul li a {
        font-size: 14px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .activeRight h4 {
        font-size: 15px;
    }
    .activeRight p{
        font-size: 14px;
    }
    .activebox .activeIcon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .recent-box h3 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .activityTabs .tab-pane {
        padding-top: 20px;
    }
    .activeRight {
        padding-top: 0px;
    }
    .profilePg .nav-tabs li {
        width: 50%;
        float: left;
        display: initial;
    }
    .threadBox {
        padding: 0;
    }
    .thread-head .thread-nav{
        top: 0;
    }
    .thread-head h4 {
        font-size: 22px;
        padding-top: 20px;
    }
    .chat-user .user-like a span, .user-edit-d a,.chat-user .user-like a{
        font-size: 12px;
    }
    .chat-user .user-like li{
        margin-right: 15px;
    }
    .user-edit-d {
        float: none;
        clear: both;
        margin-top: 15px;
        display: inline-block;
        width: 100%;
    }
    .chat-user-d h4 span {
        margin-left: 0;
        display: block;
    }
    .editor-chat textarea {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 479px){
    .profilePg .nav-tabs li {
        width: 100%;
    }
    .createBox span {
        font-size: 14px;
        margin-right: 3px;
    }

}
@media (max-width: 390px){
    header .logoBox img {
        height: 33px;
        max-width: 100px;
    }
    header .btns-group a {
        margin-top: 0px;
    }

}





















