.hg/
.hgignore
.DS_Store
app/cache/volt/*.php
public/.DS_Store
app/cache/views/cache-*
app/cache/views/forum-cache-*
app/cache/metaData/*.php
/nbproject/
vendor/
.idea/
composer.lock
composer.phar
app/config/config.php
sftp-config.json
app/config/backup.app
app/config/backup.auth
