.hg/
.hgignore
.DS_Store
/nbproject/
vendor/
bin/
.idea/
composer.lock
composer.phar
app/config/config.php
app/config/development.php
app/config/nginx.conf
selenium-server-standalone-*.jar
/*.sql.bz2
chromedriver
/public/google*.html
.env
phalcon.so
