language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

install:
 - composer --prefer-source install
 
script:
 - vendor/bin/phpcs --standard=PSR2 --report=emacs --extensions=php --warning-severity=0 app/