body {
	margin-bottom: 0px;
}

div.sidebar {
	text-align: center;
}

div.sidebar ul {
	padding-left: 10px;
	padding-top: 10px;
	width: 90%;
}

.sidebar .nav > li {
	float: none;
	text-align: left;
}

.sidebar .nav > li .number-posts {
	float: right;
}

div.navbar-inner {
	height: 30px;
}

div.navbar-inner input {
	margin-top: 5px;
	float: right;
}

div.sidebar .btn-large {
	width: 80%;
}

h1 {
	font-size: 22px;
	line-height: 24px;
	margin-left: 10px;
	margin-top: 5px;
}

div.start-discussion {
	text-align: center;
	padding-left: 10px;
}

div.start-discussion input,
div.start-discussion textarea,
div.start-discussion select,
div.view-discussion textarea {
	width: 98%;
}

div.start-discussion h1,
div.view-discussion h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
}

div.view-discussion ul.preview-nav {
	margin-bottom: 7px;
}

div.view-discussion ul.preview-nav a {
	color: #717171;
}

div.view-discussion div#preview-box {
	border: 1px solid #ddd;
	margin: 5px;
	padding: 5px;
}

div.view-discussion a.help {
	color: #717171;
	font-size: 0.9em;
}

div.view-discussion pre.sh_sourceCode {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.hot-discussions {
	padding-left: 40px;
	text-align: center;
}

div.view-discussion img {
	width: 48px;
	height: 48px;
	background: #fbfbfc;
}

div.view-discussion div.post-header {
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 12px;
	color: #717171;
}

div.view-discussion div.posts-buttons {
	float: right;
}

div.view-discussion div.posts-buttons i {
	cursor: pointer;
}

div.view-discussion div.post-header span {
	font-weight: bold;
}

div.view-discussion div.post-content {
	background: #fbfbfc;
	border: 1px solid #e1e1e8;
	padding: 10px;
	margin-bottom: 10px;
}

div.view-discussion form.edit-form {
	margin-bottom: 10px;
}

div.view-discussion td.small {
	width: 50px;
	text-align: center;
	padding: 5px;
}

div.view-discussion td.small a {
	font-size: 12px;
	line-height: 14px;
}

div.hot-discussions span.number-comments,
div.hot-discussions span.date {
	color: #999999;
	font-size: 11px;
	margin-right: 40px;
}

div.hot-discussions span.author {
	font-size: 11px;
}

table.view-list-posts,
table.list-posts {
	width: 100%;
}

table.list-posts td {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

table.list-posts td.number {
	width: 35px;
}

table.list-posts td .big-number {
	font-size: 18px;
}

table.list-posts td.no-replies,
table.list-posts td.no-views {
	color: #D14;
}

div.hot-discussions p {
	margin: 0px;
}

#footer {
	background: none repeat scroll 0 0 #252525;
	clear: both;
	color: #FAFAFA;
	display: block;
	margin-top: 50px;
	padding: 50px 10px 50px;
}

#footer td.tweets {
	width: 40%;
	padding-right: 60px;
}

#footer a {
	color: #d3ebe3;
}

#footer label {
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

#footer div.subscribe,
#footer div.social {
	line-height: 22px;
	text-align: left;
}

#footer input[type="submit"] {
	background: #0B683C;
	padding: 5px;
	color: #fafafa;
	border: none;
	border-radius: 5px;
}

div.activity {
	padding: 5px;
	padding-top: 15px;
	height: 40px;
	border: 1px solid #ddd;
}

div.next {
	float: right;
}

div.prev {
	float: left;
}

div.user-profile h1 {
	margin: 0px;
	padding: 0px;
}

div.user-profile table {
	width: 75%;
}

div.user-profile td.small {
	width: 80px;
}

div.user-profile img {
	padding-right: 10px;
}

div.user-profile .nav {
	width: 100%;
}

div.user-profile div.activity {
	border: none;
	border-bottom: 1px solid #ddd;
	height: 30px;
}

div.user-profile select {
	width: auto;
}

span.version {
	float: right;
	font-size: 11px;
}

table.view-list-posts {
	width: 95%;
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	div.hot-discussions {
		padding-left: 0px;
		padding-right: 0px;
	}
	div.sidebar {
		padding-top: 7px;
		text-align: center;
	}
	div.view-discussion td.small {
		width: 24px;
	}
	div.view-discussion td.small img {
		width: 24px;
		height: 24px;
	}
	div.view-discussion div.post-header,
	div.view-discussion div.post-header span,
	div.view-discussion div.post-header a {
		font-size: 11px;
	}
	ul.nav-tabs a {
		font-size: 12px;
		padding: 5px;
	}
	div.start-discussion h1,
	div.view-discussion h1 {
		padding-left: 0px;
	}
	div.navbar-inner input {
		width: 80%;
		float: auto;
		margin-top: 0px;
		margin-bottom: 5px;
	}
	div.navbar-inner form {
		margin: 0px;
		text-align: center;
	}
	div.remove-image img {
		display: hidden;
	}
	div.view-discussion ul.preview-nav {
		width: 100%;
	}
	ul.nav-tabs {
		width: 100%;
	}
	div.sidebar ul {
		width: 95%;
	}
	#footer div.social a,
	#footer div.social label {
		font-size: 12px;
	}
}

div.collapse {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
		-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
		 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
			  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}