
.navbar-reverse .navbar-nav>li>a {
    font-size: 18px;
}

.navbar-reverse .navbar-nav>li>a.btn-default {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.action-date {
    font-size: 11px;
    color: #717171;
}

table.discussion>tbody>tr>td {
    padding-bottom: 20px;
}

p {
    margin: 10px 0 15px;
}

.posts-buttons {
    float: right;
}

.posts-buttons a:hover {
    text-decoration: underline;
}

table.discussion .small {
    width: 120px;
    text-align: center;
}

table.discussion .small a {
    color: #999999;
}

table.discussion .small img {
    width: 48px;
    height: 48px;
    border: none;
}

table.discussion .post-editor {
    padding-left: 7px;
}

.CodeMirror {
    height: 200px;
    border: 1px solid #c0c0c0;
}

table.discussion .CodeMirror {
    height: 120px;
}

pre.prettyprint {
    padding: 10px;
}

table.discussion img {
    max-width: 550px;
    max-height: 600px;
}

.action-edit {
    color: #ea7c62;
    cursor: pointer;
}

.post-content {
    max-width: 900px;
}

@media (min-width: 1280px) {
    .modal-dialog {
        width: 1024px;
    }
}

@media (min-width: 1024px) {
    .modal-dialog {
        width: 900px;
    }
}

#historyBody {
    max-height: 550px;
    overflow-y: scroll;
}

.list-discussions img {
    width: 24px;
    height: 24px;
}

.karma {
    color: #777;
    font-size: 10px;
}